<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Primary email</th>
      <th>Secondary emails</th>
      <th>Discord</th>
      <th>Pronouns</th>
      <th>Over 18</th>
      <th>Active</th>
      <th>Accepts coc</th>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.secondary_emails %></td>
        <td><%= user.discord_id %></td>
        <td><%= user.pronouns %></td>
        <td><%= user.over_18 %></td>
        <td><%= user.active %></td>
        <td><%= user.accepts_coc %></td>
        <td><%= user.roles %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
